{{ define "main" }}

<link rel="stylesheet" href="{{ "d20.css" | relURL }}">

<div class="d20-page">
  <h1>{{ .Title }}</h1>

  <div class="d20-content">
    <div class="d20-die" data-face="1">
      {{ range seq 1 20 }}
        <figure class="d20-face face-{{ . }}"></figure>
      {{ end }}
    </div>
  </div>

  <div class="d20-roll-area">
    <button type="button" class="d20-randomize">
      ROLL
    </button>

    <div class="d20-button-sparks" aria-hidden="true"></div>
  </div>
</div>

<script src="{{ "d20.js" | relURL }}"></script>

{{ end }}